<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Recipe - Spring Recipe App</title>
    <link th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}" ></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.5.0/font/bootstrap-icons.css}">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/images/recipe.png}" rel="icon">
</head>
<body>
    <header th:insert="fragments/layout.html :: header"></header>
    <div class="container my-5">
        <div class="card mb-5">
            <div class="card-header fw-bolder">
                Edit Recipe Information
            </div>
            <form id="form" class="px-5" th:object="${recipe}" th:action="@{/recipe/save}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="my-4" style="width: 40%">
                    <label for="recipeDescription" class="form-label fw-bold">Recipe Description</label>
                    <input type="text" class="form-control" id="recipeDescription" th:field="*{description}"/>
                </div>
                <div class="my-4 row">
                    <label for="recipeDescription" class="form-label fw-bold col-4">Categories:</label>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="cat-1">
                            <label class="form-check-label" for="cat-1">
                                Cat 1
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="cat-2">
                            <label class="form-check-label" for="cat-2">
                                Cat 2
                            </label>
                        </div>
                    </div>
                </div>
                <div class="my-4 row">
                    <div class="col">
                        <label class="form-label fw-bold" for="prep-time">
                            Prep Time:
                        </label>
                        <input class="form-control" type="text" id="prep-time" th:field="*{prepTime}">
                    </div>
                    <div class="col">
                        <label class="form-label fw-bold" for="cook-time">
                            Cook Time:
                        </label>
                        <input class="form-control" type="text" id="cook-time" th:field="*{cookTime}">
                    </div>
                    <div class="col">
                        <label class="form-label fw-bold" for="cook-time">
                            Difficulty:
                        </label>
                        <select class="form-select" id="difficulty">
                            <option>Easy</option>
                            <option>Moderate</option>
                            <option>Hard</option>
                        </select>
                    </div>
                </div>
                <div class="my-4 row">
                    <div class="col">
                        <label class="form-label fw-bold" for="servings">
                            Servings:
                        </label>
                        <input class="form-control" type="number" id="servings" th:field="*{servings}">
                    </div>
                    <div class="col">
                        <label class="form-label fw-bold" for="source">
                            Source:
                        </label>
                        <input class="form-control" type="text" id="source" th:field="*{source}">
                    </div>
                    <div class="col">
                        <label class="form-label fw-bold" for="url">
                            URL:
                        </label>
                        <input class="form-control" type="text" id="url" th:field="*{url}">
                    </div>
                </div>
                <div class="my-4">
                    <label class="form-label fw-bold">Ingredients
                        <a class="btn btn-outline-secondary btn-sm ms-2"
                           th:href="${'/recipe/' + recipe.id + '/ingredient/list'}">
                            Edit <i class="bi bi-pencil-square"></i>
                        </a>
                    </label>
                    <ul>
                        <li th:remove="all">1 Cup of Milk</li>
                        <li th:remove="all">1 Teaspoon of Chocolate</li>
                        <li th:remove="all">1 Teaspoon of Sugar</li>
                        <li th:each="ingredient : ${recipe.ingredients}"
                            th:text="${ingredient.amount + ' ' +
                            ingredient.unitOfMeasure.description + ' - ' +
                            ingredient.description}"></li>
                    </ul>
                </div>
                <div class="my-4">
                    <label class="form-label fw-bold" for="directions">Directions</label>
                    <div class="form-floating">
                        <textarea class="form-control" id="directions" style="height: 100px" th:field="*{directions}"></textarea>
                        <label for="directions">Write the directions here</label>
                    </div>
                </div>
                <div class="my-4">
                    <label class="form-label fw-bold" for="notes">Notes</label>
                    <div class="form-floating">
                        <textarea class="form-control" id="notes" style="height: 100px" th:field="*{notes.recipeNotes}"></textarea>
                        <label for="notes">Write the notes here</label>
                    </div>
                </div>
                <div class="my-4">
                    <button type="submit" class="btn btn-secondary custom-btn">Save</button>
                    <button type="reset" class="btn btn-secondary ms-3 custom-btn">Reset</button>
                </div>
            </form>
        </div>
    </div>
    <footer th:insert="fragments/layout.html :: footer"></footer>
</body>
</html>