<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe - Spring Recipe App</title>
    <link th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}" ></script>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/images/recipe.png}" rel="icon">
</head>
<body>
    <header th:insert="fragments/layout.html :: header"></header>
    <div class="container">
        <h2 id="recipe-heading" class="my-5" th:text="${recipe.description} + ' Recipe'"></h2>
        <div th:remove="all">
            <div class="card mb-5">
                <div class="card-header fw-bolder">
                    Recipe Description
                </div>
                <div class="card-body my-2">
                    <h4 class="card-title fw-bolder">
                        Categories
                    </h4>
                    <div class="card-text">
                        <div class="d-flex my-3">
                            <span class="badge mx-4" th:text="'Cat one'"></span>
                            <span class="badge mx-4" th:text="'Cat Two'"></span>
                            <span class="badge mx-4" th:text="'Cat Three'"></span>
                            <span class="badge mx-4" th:text="'Cat Four'"></span>
                            <span class="badge mx-4" th:text="'Cat Five'"></span>
                            <span class="badge mx-4" th:text="'Cat Six'"></span>
                            <span class="badge mx-4" th:text="'Cat Seven'"></span>
                            <span class="badge mx-4" th:text="'Cat Eight'"></span>
                            <span class="badge mx-4" th:text="'Cat Nine'"></span>
                            <span class="badge mx-4" th:text="'Cat Ten'"></span>
                        </div>
                        <div class="row justify-content-evenly">
                            <div class="col-md-3 col-lg-3 my-3" style="width: 15rem">
                                <p><span class="fw-bold">Prep Time:</span><span class="ms-3" th:text="'30 min'"></span></p>
                            </div>
                            <div class="col-md-3 col-lg-3 my-3" style="width: 15rem">
                                <p><span class="fw-bold">Difficulty:</span><span class="ms-3" th:text="'Easy'"></span></p>
                            </div>
                            <div class="col-md-3 col-lg-3 my-3" style="width: 15rem">
                                <p><span class="fw-bold">Cook Time:</span><span class="ms-3" th:text="'30 min'"></span></p>
                            </div>
                            <div class="col-md-3 col-lg-3 my-3" style="width: 15rem">
                                <p><span class="fw-bold">Servings:</span><span class="ms-3" th:text="'4'"></span></p>
                            </div>
                            <div class="col-md-3 col-lg-3 my-3" style="width: 15rem">
                                <p><span class="fw-bold">Source:</span><span class="ms-3" th:text="'30 min'"></span></p>
                            </div>
                            <div class="col-md-3 col-lg-3 my-3" style="width: 15rem">
                                <p><span class="fw-bold">URL:</span><span class="ms-3" th:text="'https://example.com'"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body my-2">
                    <h4 class="card-title fw-bolder">
                        Ingredients
                    </h4>
                    <div class="card-text">
                        <ul>
                            <li th:text="'1 cup of Milk'"></li>
                            <li th:text="'1 Teaspoon of Chocolate'"></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body my-2">
                    <h4 class="card-title fw-bolder">
                        Directions
                    </h4>
                    <div class="card-text">
                        <p th:text="'There are many variations of passages of Lorem Ipsum available,' +
                        'but the majority have suffered alteration in some form, by injected humour, or ' +
                        'randomised words which dont anything embarrassing hidden in the middle of text. ' +
                        'All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as ' +
                        'necessary, making this the first true generator on the Internet. It uses a ' +
                        'dictionary of over 200 Latin words, combined with a handful of model sentence ' +
                        'structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum ' +
                        'is therefore always free from repetition, injected humour, or non-characteristic words etc.'"></p>
                    </div>
                </div>
                <div class="card-body my-2">
                    <h4 class="card-title fw-bolder">
                        Notes
                    </h4>
                    <div class="card-text">
                        <p th:text="'There are many variations of passages of Lorem Ipsum available,' +
                        'but the majority have suffered alteration in some form, by injected humour, or ' +
                        'randomised words which dont anything embarrassing hidden in the middle of text. ' +
                        'All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as ' +
                        'necessary, making this the first true generator on the Internet. It uses a ' +
                        'dictionary of over 200 Latin words, combined with a handful of model sentence ' +
                        'structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum ' +
                        'is therefore always free from repetition, injected humour, or non-characteristic words etc.'"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-5">
            <div class="card-header fw-bolder">
                Recipe Description
            </div>
            <div class="card-body my-2">
                <h4 class="card-title fw-bolder">
                    Categories
                </h4>
                <div class="card-text">
                    <div class="d-flex">
                        <span class="badge mx-4" th:each="category : ${recipe.categories}"
                              th:text="${category.description}"></span>
                    </div>
                    <div class="row justify-content-evenly">
                        <div class="col-md-3 col-lg-3 my-3" style="width: 15rem">
                            <p><span class="fw-bold">Prep Time:</span><span class="ms-3" th:text="${recipe.prepTime}"></span></p>
                        </div>
                        <div class="col-md-3 col-lg-3 my-3" style="width: 15rem">
                            <p><span class="fw-bold">Difficulty:</span><span class="ms-3" th:text="${recipe.difficulty}"></span></p>
                        </div>
                        <div class="col-md-3 col-lg-3 my-3" style="width: 15rem">
                            <p><span class="fw-bold">Cook Time:</span><span class="ms-3" th:text="${recipe.cookTime}"></span></p>
                        </div>
                        <div class="col-md-3 col-lg-3 my-3" style="width: 15rem">
                            <p><span class="fw-bold">Servings:</span><span class="ms-3" th:text="${recipe.servings}"></span></p>
                        </div>
                        <div class="col-md-3 col-lg-3 my-3" style="width: 15rem">
                            <p><span class="fw-bold">Source:</span><span class="ms-3" th:text="${recipe.source}"></span></p>
                        </div>
                        <div class="col-md-3 col-lg-3 my-3" style="width: 15rem">
                            <p><span class="fw-bold">URL:</span><a class="ms-3" th:href="${recipe.url}"></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body my-2">
                <h4 class="card-title fw-bolder">
                    Ingredients
                </h4>
                <div class="card-text">
                    <ul>
                        <li th:each="ingredient : ${recipe.ingredients}"
                            th:text="${ingredient.description} + ' - ' + ${ingredient.amount} + ' ' +
                            ${ingredient.uom.description}"></li>
                    </ul>
                </div>
            </div>
            <div class="card-body my-2">
                <h4 class="card-title fw-bolder">
                    Directions
                </h4>
                <div class="card-text">
                    <p th:text="${recipe.directions}"></p>
                </div>
            </div>
            <div class="card-body my-2">
                <h4 class="card-title fw-bolder">
                    Notes
                </h4>
                <div class="card-text">
                    <p th:text="${recipe.notes.recipeNotes}"></p>
                </div>
            </div>
        </div>
    </div>
    <footer th:insert="fragments/layout.html :: footer"></footer>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>