<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 - Spring Recipe App</title>
    <link rel="icon" th:href="@{/images/recipe.png}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/css/error-page.css}" />
</head>
<body>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
            <h2 th:text="${error_code + ' - ' + exception.message}"></h2>
        </div>
        <a href="/">Go TO Homepage</a>
    </div>
</div>
</body>
</html>