html {
    scroll-behavior: smooth;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100%;
}
#recipe-heading {
    font-weight: 900;
}
.custom-btn {
    background-color : #2e333b !important;
}
.custom-btn:hover {
    background-color: #212529 !important;
}
@media screen and (max-width: 500px) {
    #form {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}